body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.pos-rel {
  position: relative;
}
.layer {
  position: absolute;
  top:100%;
  left:0;
  right:0;
  height: 100px;
  border: 1px solid gray;
  text-align: left;
  // padding: 0 2px;
  margin-bottom: .5em;
  // overflow: auto;
}
.hover {
  cursor: pointer;
  &:hover  {
    background: rgb(79, 79, 240);
    color: #fff;
  }
}

.selected {
  background-color: red;
  color: #fff;
}
.tml15 {
  margin-left: 15px;
}

.tree-child-component {
  margin: 3px 10px;
  cursor: pointer;
}
.tree-parent-component > span:nth-of-type(1) {
  border: 1px solid #ddd;
  margin: 2px 5px;
  width: 15px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}